:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: hsla(var(--ig-gray-100));
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_2 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
}
.group_3 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.group_4 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 24px;
  position: relative;
}
.group_5 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_6 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.h6 {
  color: hsla(var(--ig-gray-800));
  height: max-content;
  min-width: min-content;
}
.combo {
  width: 240px;
  height: max-content;
  min-width: 240px;
  max-width: 240px;
  flex-shrink: 0;
}
.category-chart {
  --brushes: #FF7453 #AAA6A5 #3CB76E #5B5756 #FFAE53;
  --outlines: #FF7453 #AAA6A5 #3CB76E #5B5756 #FFAE53;
  --marker-brushes: #FF7453 #AAA6A5 #3CB76E #5B5756 #FFAE53;
  --marker-outlines: #FF7453 #AAA6A5 #3CB76E #5B5756 #FFAE53;
  min-width: 400px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
