:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: hsla(var(--ig-surface-500));
  border-color: hsla(var(--ig-gray-300));
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px;
  width: 260px;
  min-width: 260px;
  max-width: 260px;
}
.group_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 48px;
  width: 240px;
  min-width: 50px;
  min-height: 50px;
  max-width: 240px;
}
.list {
  width: 240px;
  height: max-content;
  min-width: 240px;
  max-width: 240px;
}
.avatar {
  --igx-avatar-background: transparent;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.image {
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  max-width: 140px;
  flex-shrink: 0;
}
.avatar::part(base) {
  --igx-avatar-color: hsla(var(--ig-surface-500));
}
.view-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
