:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: hsla(var(--ig-gray-100));
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 24px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
  position: relative;
}
.group_2 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.group_3 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.products {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.card {
  width: 264px;
  height: max-content;
  min-width: 264px;
  max-width: 264px;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_6 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  min-width: 50px;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.checkbox-group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: 50px;
}
.group_8 {
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
}
.h6 {
  color: hsla(var(--ig-gray-800));
  height: max-content;
  min-width: min-content;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.text {
  height: max-content;
  min-width: min-content;
}
.image_1 {
  object-fit: cover;
  width: 90px;
  height: 90px;
  min-width: 0;
  min-height: 0;
  max-width: 90px;
  max-height: 90px;
  flex-shrink: 0;
}
.media-content {
  min-height: 250px;
  max-height: 250px;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.textarea {
  height: max-content;
  min-width: min-content;
}
.button {
  --igx-button-foreground: hsla(var(--ig-surface-500));
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  height: max-content;
  flex-shrink: 0;
}
.user-input {
  width: 264px;
  height: max-content;
  min-width: 264px;
  max-width: 264px;
  flex-grow: 1;
  flex-basis: 0;
}
.dropdown {
  left: 0;
  top: 0;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button_2 {
  margin: 0 0 8px 8px;
  height: max-content;
}
.button_3 {
  --igx-button-foreground: hsla(var(--ig-primary-500));
}
.input {
  height: max-content;
  min-width: min-content;
}
.select {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.single-select-combo {
  height: max-content;
  min-width: 120px;
  max-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.button_4 {
  height: max-content;
}
.input_1 {
  height: max-content;
  min-width: min-content;
  max-width: 120px;
  flex-grow: 1;
  flex-basis: 0;
}
.checkbox {
  margin: 0 12px 0 0;
  width: max-content;
  height: max-content;
}
